.welcome-user-container { grid-area: left; }
.income-container { grid-area: right; }
.member-table-container { grid-area: table; }


#admin-page-grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "header header header"
    "left main right"
    "table table table"
    "footer footer footer";

}

.member-table-container {
    background-color: #eeee;
    position: relative;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    max-height: 600px;
    overflow: scroll;
}

.member-table {
    text-align: center;
}

.member-table > tr, td {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.tableFixedHeader {
    overflow-y: auto;
    height: 200px;
}

.tableFixedHeader > tr, th {
    background-color: bisque;
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}