/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --text-color-danger: rgb(152, 58, 58);
    --white: #f1f1f1;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    color: var(--text-color-dark);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-green);
    padding-top: 45px;
}

/* ---------- nav styling ---------- */
nav {
    display: grid;
    background-color: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
}

@media (min-width: 600px) {
    nav {
        padding: 1em 2em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Style the links inside the navigation bar */
nav a {
    display: inline-block;
    color: var(--text-color-light);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid rgb(38, 76, 89);
}

/* Change the color of links on hover */
nav a:hover {
    background-color: var(--light-green);
    color: var(--text-color-dark);
}

/* Add a color to the active/current link */
nav a.active {
    background-color: var(--light-green);
    color: var(--green);
}

.hidden {
    display: none;
    padding: 248px 2em;
}

@media (min-width: 600px) {
    .view-content {
        padding: 94px 2em;
    }
}

.view-content.active {
    display: block;
}

/*--------------Her starter min css----------------------*/
#homePage {
    font-size: 12px;
}

#homePage > header {
    text-align: center;
    font-size: 3em;
}

#front-page-picture-container {
    position: relative;
    text-align: center;
    height: 500px;
    overflow: hidden;
}

#front-page-news-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 250px;
    padding-top: 25px;
    margin: 0%;
    align-items: center;
    justify-items: center;
    background-color: white;
    max-width: 100%;
    height: auto;
}

.front-page-news-grid-item {
    position: relative;
    height: 340px;
    width: 250px;
    text-align: center;
}

.front-page-news-picture > img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.front-page-news-button {
    position: absolute;
    bottom: 10px;
    left: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#news-title {
    text-align: center;
    font-size: 3em;
    background-color: white;
    margin-bottom: 0%;
    padding-top: 25px;
}

/*------------Button CSS------------*/
/*---coulde be in main--------------*/
.button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}
