.welcome-user-container { grid-area: welcome; }
.income-container { grid-area: income; }
.member-table-container { grid-area: table; }

#admin-page-grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "welcome main income"
    "table table table"
    "footer footer footer";
    margin: 0%;
    padding: 0%;
    position: relative;
    top: -150px;
}
/*-----------Create button styling-----------*/
.create-member-btn-container {
    position: relative;
    left: -60px;
    bottom: -60px;
    top: 10px;
}
.create-btn {
    font-size: 2.5em;
    padding: 15px;
}

/*-----------MEMBER Table Styling--------------*/
.member-table-container {
    background-color: white;
    position: relative;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 700px;
    max-height: 700px;
    overflow: scroll;
    border-radius: 15px;
    border: solid;
    border-color: black;
    overscroll-behavior: none;
}
.member-table {
    text-align: center;
}
.member-table > tr, td {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    color: black;
}

.create-btn {
    background-color: black;
}

.tableFixedHeader {
    overflow-y: auto;
    height: 10px;
}

.tableFixedHeader > tr, th {
    background-color: bisque;
    position: sticky;
    top: 1px;
    padding-top: 15px;
    padding-bottom: 20px;
    z-index: 9998;
}

.member-table tr:nth-child(even) {
    background-color: var(--colour3);
    color: black;
}

.checkbox-styling {
scale: 200%;
}

/*----------Create Dialog styling---------------*/
#create-dialog {
    width: 500px;
    height: 850px;
    text-align: center;
    position: relative;
    top: 0px;
}

#create-form {
    width: 500px;
    height: 750px;
    font-size: 1.5em;

}

#create-member-btn {
    position: relative;
    align-items: center;
    justify-items: center;
}
#update-dialog {
    width: 500px;
    height: 850px;
    text-align: center;
    position: relative;
    top: 0px;
}

#update-form {
    width: 500px;
    height: 750px;
    font-size: 1.5em;

}
#update-member-btn {
    position: relative;
    align-items: center;
    justify-items: center;
}

