.welcome-user-container { grid-area: welcome; }
.income-container { grid-area: income; }
.member-table-container { grid-area: table; }

#cashier-page-grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "welcome main income"
    "table table table"
    "footer footer footer";
    margin: 0%;
    padding: 0%;
    position: relative;
    top: -150px;
}

/*-----------MEMBER Table Styling--------------*/
.member-table-container {
    background-color: white;
    position: relative;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 700px;
    max-height: 700px;
    overflow: scroll;
    border-radius: 15px;
    border: solid;
    border-color: black;
    overscroll-behavior: none;
}
.member-table {
    text-align: center;
}
.member-table > tr, td {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    color: black;
}

.member-table tr:nth-child(even) {
    background-color: var(--colour3);
    color: black;
}

.checkbox-styling {
scale: 200%;
}

