/*--------------Her starter min css----------------------*/
#homePage {
    font-size: 12px;
}

#homePage > header {
    text-align: center;
    font-size: 3em;
}

#front-page-picture-container {
    position: relative;
    text-align: center;
    height: 500px;
    overflow: hidden;
}

#front-page-news-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 250px;
    padding-top: 25px;
    margin: 0%;
    align-items: center;
    justify-items: center;
    background-color: white;
    max-width: 100%;
    height: auto;
}

.front-page-news-grid-item {
    position: relative;
    height: 340px;
    width: 250px;
    text-align: center;
}

.front-page-news-picture > img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.front-page-news-button {
    position: absolute;
    bottom: 10px;
    left: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#news-title {
    text-align: center;
    font-size: 3em;
    background-color: white;
    margin-bottom: 0%;
    padding-top: 25px;
}