/*--------------Her starter min css----------------------*/
#homePage {
font-size: 12px;
}

#front-page-picture-container {
position: relative;
text-align: center;
height: 500px;
overflow: hidden;
top: -50px;
}

.front-page-news-picture {
    background-color:var(--colour1);
    height: 375px;
    width: 350px;
    text-align: center;
    padding-top: 40px;
    border-radius: 25px;
}

#front-page-news-grid-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding: 250px;
padding-top: 30px;
padding-bottom: 150px;
margin: 0%;
/* align-items: center;
justify-items: center; */
background-color: var(--colour2);
max-width: 100%;
height: auto;
}

.front-page-news-grid-item {
position: relative;
height: 340px;
width: 250px;
text-align: center;
}

.front-page-news-picture > img {
width: 250px;
height: 250px;
border: solid white;
}

.front-page-news-button {
position: absolute;
bottom: -45px;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
color: black;
background-color: white;
font-size: 16px;
}

#home-page > header {
text-align: center;
font-size: 2em;
font-family: 'Lilita One', cursive;
color: var(--white);

}

h1 {
margin: 0%;
}

#news-title {
text-align: center;
font-size: 3em;
background-color: var(--colour2);
color: var(--white);
margin-bottom: 0%;
padding-top: 25px;
text-transform: uppercase;
font-family: 'Lilita One', cursive;

}

.front-page-news-title {
color: var(--white);
font-size: 2em;
font-family: 'Francois One', sans-serif;
letter-spacing: 3px;
margin: 0%;
margin-top: 5px;
}

#footer-info-container {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-items: center;
}

.footer-info-item {
width: 250px;
position: relative;
text-align: center;
color: var(--white);
}

/*-----Log in button styling-------*/
/* CSS */
.login-out-btn {
position: relative;
right: -15px;
top: 5px;
align-items: center;
appearance: none;
background-color:white;
border-radius: 25px;
border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
box-sizing: border-box;
color: #36395A;
cursor: pointer;
font-family: "JetBrains Mono",monospace;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
text-align: center;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

#login-btn:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#login-btn:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

#login-btn:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}

#login-dialog {
border-color: black;
background-color: var(--colour1);
width: 500px;
height: 400px;
padding: 50px ; 
animation: fadeIn 0.5s;
}

#login-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#login-form > label {
    font-size: 2em;
    padding-bottom: 20px;
    color: var(--white);
}

#login-form > input {
    width: 500px;
    height: 50px;
    font-size: 1.2em;
}

#login-form > button {
    font-size: 2em;
    margin-top: 25px;
    padding: 10px;
    background-color: green ;
}

.close-login-dialog {
position: relative;
bottom: -30px;
left: 190px;
font-size: 2em;
padding: 10px;
background-color: darkred;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
