/* ---------- root variables ---------- */
:root {
    --colour1:#8294C4;
    --colour2: #ACB1D6;
    --colour3:#DBDFEA;
    --white: white;
}

main {
    height: 1200px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    color: var(--colour1);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colour3);
    padding-top: 45px;
}

/* ---------- nav styling ---------- */
nav {
    display: grid;
    background-color: var(--colour1);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 9999;
}

@media (min-width: 600px) {
    nav {
        padding: 1em 2em;
        grid-template-columns: 1fr 1fr 1fr 1fr 150px;
    }
}

/* Style the links inside the navigation bar */
nav a {
    display: inline-block;
    color: var(--white);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: var(--colour2);
    color: var(--navy);
    border-radius: 25px;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: var(--colour2);
    color: var(--white);
}

.hidden {
    display: none;
}
/*-----------welcome user styling----------*/
.welcome-user-container {
    background-color:thistle;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}
/*------------Kontingent styling------------*/
.income-container {
    background-color: thistle;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

/* UPDATE BTN STYLING */
.update-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    transition: transform 0.2s;
}
.delete-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    transition: transform 0.2s;
}


/*------------Button CSS------------*/
/*---coulde be in main--------------*/
.button-styling {
    appearance: none;
    border: 2px solid #1A1A1A;
    border-radius: 5px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .button-styling:disabled {
    pointer-events: none;
  }
  
  .button-styling:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-styling:active {
    box-shadow: none;
    transform: translateY(0);
  }

