/* competitive member page grid */
#events-upcoming-container { grid-area: header; }
#comp-member-coach-container { grid-area: coach; }
#comp-member-info-container { grid-area: main; }
#disciplin-container { grid-area: menu; }
#comp-member-result-container { grid-area: right; }

#comp-member-grid-container {
    display: grid;
    grid-template-areas:
    'main main main right right right'
    'main main main header header header'
    'menu menu menu coach coach .';
    padding: 50px;
    margin-top: -225px;
    gap: 50px;
}

#comp-member-grid-container > article {
    border: solid var(--colour2);
    padding: 20px;
}

/*----------comp member info container-----------*/
#welcomeCompUser {
    font-size: 1.5em;
}

#comp-member-info-container {
    height: 500px;
}

#comp-member-info-name,
#comp-member-info-gender,
#comp-member-info-age,
#comp-member-info-address,
#comp-member-info-email {
    font-size: 1.5em;
}

.comp-member-update-btn-container {
text-align: center;
}

#comp-member-update-btn {
    font-size: 2em;
}