/* competitive member page grid */
#events-upcoming-container { grid-area: header; }
#comp-member-coach-container { grid-area: coach; }
#comp-member-info-container { grid-area: main; }
#disciplin-container { grid-area: menu; }
#comp-member-result-container { grid-area: right; }

#comp-member-grid-container {
    display: grid;
    grid-template-areas:
    'main main main right right right'
    'main main main header header header'
    'menu menu menu coach coach .';
    padding: 50px;
    margin-top: -225px;
    gap: 50px;
}

#comp-member-grid-container > article {
    border: solid var(--colour2);
    padding: 20px;
}

/*----------comp member info container-----------*/
#welcomeCompUser {
    font-size: 1.5em;
}

#comp-member-info-container {
    height: 500px;
}

#comp-member-info-name,
#comp-member-info-gender,
#comp-member-info-age,
#comp-member-info-address,
#comp-member-info-email, 
#comp-member-info-phone{
    font-size: 1.5em;
}

.comp-member-update-btn-container {
text-align: center;
}

#comp-member-update-btn {
    font-size: 2em;
}

/*----------regluar member info container-----------*/
#regular-member-grid-container {
    margin-top: -100px;
    padding: 75px;
    font-size: 1.5em;
}

#regular-member-info-container {
    border: solid;
    width: 500px;
    height: 750px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
} 

#regular-member-info-container > div > h1 {
    color: black;
    text-align: center;
}

/*---------------regular member update button-----------------*/
#regular-member-update-btn {
position: relative;
left: 100px;
align-items: center;
appearance: none;
background-color:white;
border-radius: 25px;
border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
box-sizing: border-box;
color: #36395A;
cursor: pointer;
font-family: "JetBrains Mono",monospace;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
text-align: center;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

#regular-member-update-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#regular-member-update-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#regular-member-update-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/*---------------regular member payment button-----------------*/

#regular-member-payment-btn {
    position: relative;
    left: 165px;
    align-items: center;
    appearance: none;
    background-color:white;
    border-radius: 25px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

#regular-member-payment-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#regular-member-payment-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#regular-member-payment-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/*-----CSS class centers the item*/
.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
  }