/* competitive member page grid */
#events-upcoming-container { grid-area: header; }
#comp-member-coach-container { grid-area: coach; }
#comp-member-info-container { grid-area: main; }
#disciplin-container { grid-area: menu; }
#event-container { grid-area: right; }

#comp-member-grid-container {
    display: grid;
    grid-template-areas:
    'main main main coach coach coach'
    'main main main header header header'
    'menu menu menu right right right';
    padding: 50px;
    margin-top: -200px;
    gap: 50px;
}

#comp-member-grid-container > article {
    border: solid var(--colour2);
    padding: 20px;
}

/*------Kommende stævner-------------*/
#events-upcoming-container {
    height: 250px;
    width: 1200px;
}

#events-upcoming-table {
    height: 250px;
    width: auto;
    overflow: scroll;
    overscroll-behavior:none ;
}

#events-upcoming-table > tr, td {
    padding-left: 75px;
    padding-right: 75px;
}

#events-upcoming-title {
    font-size: 1.2em;
}

/*----Tidligere stævner------*/
#event-container {
    height: 250px;
    width: 1200px;
}
#event-table {
    height: 250px;
    overflow: scroll;
    overscroll-behavior: none;
}

#event-title {
    font-size: 1.2em;
}